{% extends 'base.html' %}
{% block title %} Departamentos | PNC - SGPD {% endblock title %}


{% block content %}
<div class="container">
   <div class="row justify-content-center align-items-center">
      {% if hay_departamentos %}
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
         <h1>GUATEMALA</h1>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
         <svg version="1.1" viewBox="0 0 285.75 285.75">
            {% for departamento in departamentos %}
            {{departamento.path|safe}}
            {% endfor %}
         </svg>
      </div>
   <div class="col-sm-4">
   
   
      <ol>
         
         {% for departamento in departamentos %}
            <a href="{% url 'depa_chiquimula' %}"><li>{{departamento.nombre}}</li></a>
         {% endfor %}
      </ol>
   
      
   </div>
</div>
   {% endif %}
</div>
{% endblock content %}