{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo Registro | PNC - SGPD{% endblock title %}
{% block content %}

<div class="container mt-3">
    
    {% if hay_datos %}
    
    {% if hora_laboral %}
        
    <div class="row">
        <div class="col-sm-2">
            <a href="{% url 'respuestas_eje_view' %}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    <div class="col-sm-8 text-center"><h1>EJE DE PREVENCION</h1></div><br>
    <div class="card mb-3 rounded shadow">
        <h4 class="card-header">INFORMACION GENERAL</h4>
        <div class="card-body">
            <!--<div class="mb-3 row">
                <label for="respondido" class="col-sm-2 col-form-label">Fecha de respuesta</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="respondido" required>
                </div>
            </div>
        -->
    <div class="mb-3 row">
        <label for="lugar_priorizado" class="col-sm-2 col-form-label">Lugar priorizado</label>
        <div class="col-sm-10">
          <select class="form-control" id="lugar_priorizado" required>
            {% for lugar in lugares_priorizado %}
                <option value="{{lugar.id}}">{{lugar.lugar}}</option>
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_no_priorizado" class="col-sm-2 col-form-label">Lugar no priorizado</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_no_priorizado" required>
            <p id="aviso_no_priorizado" style="color:red;font-size:10.5px" hidden>*Campo requerido</p>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_especifico" class="col-sm-2 col-form-label">Lugar específico</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_especifico" required>
            <p id="aviso_especifico" style="color:red;font-size:10.5px" hidden>*Campo requerido</p>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="plan" class="col-sm-2 col-form-label">Plan/Orden</label>
        <div class="col-sm-10">
          <select class="form-control" id="plan" required>
            {% for plan in planes %}
                <option value="{{plan.id}}">{{plan.nombre}}</option>
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="eje" class="col-sm-2 col-form-label">Eje de Trabajo</label>
        <div class="col-sm-10">
          <select class="form-control" id="eje" required>
            {% for eje in ejes %}
                <option value="{{eje.id}}">{{eje.nombre}}</option>
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="producto" class="col-sm-2 col-form-label">Productos</label>
        <div class="col-sm-10">
          <select class="form-control" id="producto" required>
            {% for producto in productos %}
                <option value="{{producto.id}}">{{producto.nombre}}</option>
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="subproducto" class="col-sm-2 col-form-label">Subroductos</label>
        <div class="col-sm-10">
          <select class="form-control" id="subproducto" required></select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="cantidad" required>
            <p id="aviso_cantidad" style="color:red;font-size:10.5px" hidden>*Campo requerido</p>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="observaciones" rows="3" maxlength="450"></textarea>
        </div>
    </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3 rounded shadow">
                <h4 class="card-header">CATEGORIA DE PERSONAS</h4>
                <div class="card-body">
                <p id="aviso_edades" style="color:red;font-size:10.5px" hidden>*Las personas ingresadas no coinciden con la cantidad de personas</p>
                <p id="aviso_personas" style="color:red;font-size:10.5px" hidden>*Debe haber algún registro de personas</p>
            <div class="mb-3 row">
                <label for="ninios" class="col-sm-5 col-form-label">Niños</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ninios" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ninias" class="col-sm-5 col-form-label">Niñas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ninias" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adolecentes_masculinos" class="col-sm-5 col-form-label">Adolecentes masculinos</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adolecentes_masculinos" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adolecentes_femeninas" class="col-sm-5 col-form-label">Adolecentes femeninas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adolecentes_femeninas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="jovenes_masculinos" class="col-sm-5 col-form-label">Jovenes masculinos</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="jovenes_masculinos" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="jovenes_femeninas" class="col-sm-5 col-form-label">Jovenes femeninas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="jovenes_femeninas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adultos" class="col-sm-5 col-form-label">Adultos</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultos" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adultas" class="col-sm-5 col-form-label">Adultas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adultos_mayores" class="col-sm-5 col-form-label">Adultos mayores</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultos_mayores" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="adultas_mayores" class="col-sm-5 col-form-label">Adultas mayores</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultas_mayores" required>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3 rounded shadow">
                <h4 class="card-header">ETNIAS</h4>
                <div class="card-body">
                    <p id="aviso_etnias" style="color:red;font-size:10.5px" hidden>*Las etnias no coinciden con la cantidad de personas</p>
            
            <div class="mb-3 row">
                <label for="xincas" class="col-sm-5 col-form-label">Xincas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="xincas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="garifunas" class="col-sm-5 col-form-label">Garifunas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="garifunas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="mayas" class="col-sm-5 col-form-label">Mayas</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mayas" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ladinos" class="col-sm-5 col-form-label">Ladinos</label>
                <div class="col-sm-5">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ladinos" required>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" onclick="validate()" class="btn btn-outline-success col-sm-12 mb-3">Guardar</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-4"><a href="{% url 'respuestas_eje_view' %}" class="btn btn-outline-secondary">Regresar</a></div>
        <div class="col-md-4">
            <div class="card p-3 shadow mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/logo_pnc.png' %}" class="img-fluid rounded-start" alt="LOGO-PNC">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">No se puede ingresar</h5>
                      <p class="card-text">El horario de labor es de 1 a.m. hasta las 6 p.m.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-4"><a href="{% url 'respuestas_eje_view' %}" class="btn btn-outline-secondary">Regresar</a></div>
        <div class="col-md-4">
            <div class="card p-3 shadow mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/logo_pnc.png' %}" class="img-fluid rounded-start" alt="LOGO-PNC">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Aun no puede ingresar</h5>
                      <p class="card-text">Se necesitan datos para poder utilizarlos al responder.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    
    {% endif %}
        
</div>

{% endblock content %}


{% block script %}
{% load static %}
<script src="{% static 'js/respuesta/form.eje.js' %}" ></script>
{% endblock script %}
    