{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo Registro | PNC - SGPD{% endblock title %}
{% block content %}

<div class="container mt-3">
    
    {% if hay_datos %}
    {% if hora_laboral %}
    <div class="row"><div class="col-sm-4">
        <div class="col-sm-2">
            <a href="{% url 'respuestas_operativo_view' %}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div><div class="col-sm-4"><h1>AREA OPERATIVA</h1></div><div class="col-sm-4"></div></div><br>
    <div class="card mb-3 rounded shadow">
        <h4 class="card-header">INFORMACION GENERAL</h4>
        <div class="card-body">
            <!--<div class="mb-3 row">
                <label for="respondido" class="col-sm-2 col-form-label">Fecha de respuesta</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="respondido" required>
                </div>
            </div>-->
            <div class="mb-3 row">
                <label for="lugar_priorizado" class="col-sm-2 col-form-label">Lugar Priorizado</label>
                <div class="col-sm-10">
                <select class="form-control" id="lugar_priorizado" required>
                    {% for lugar in lugares_priorizado %}
                        <option value="{{lugar.id}}">{{lugar.lugar}}</option>
                    {% endfor %} 
                </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="lugar_no_priorizado" class="col-sm-2 col-form-label">Lugar No Priorizado</label>
                <div class="col-sm-10" id="cont_lug_apo">
                    <input type="text" maxlength="350" class="form-control" id="lugar_no_priorizado" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="lugar_apoyo" class="col-sm-2 col-form-label">Lugar de Apoyo</label>
                <div class="col-sm-10" id="cont_lug_apo">
                    <input type="text" maxlength="350" class="form-control" id="lugar_apoyo" required>
                    <p id="aviso_apoyo" style="color:red;font-size:10.5px" hidden>*El campo no puede ir vacío.</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="plan" class="col-sm-2 col-form-label">Plan/Orden</label>
                <div class="col-sm-10">
                <select class="form-control" id="plan" required>
                    {% for plan in planes %}
                        <option value="{{plan.id}}">{{plan.nombre}}</option>
                    {% endfor %} 
                </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="operativo" class="col-sm-2 col-form-label">Tipo de Operativo</label>
                <div class="col-sm-10">
                <select class="form-control" id="operativo" required>
                    {% for operativo in operativos %}
                        <option value="{{operativo.id}}">{{operativo.nombre}}</option>
                    {% endfor %} 
                </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
                <div class="col-sm-10" id="cont_lug_apo">
                    <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="cantidad" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="observaciones" rows="3" maxlength="450"></textarea>
                </div>
            </div>
        </div>
    </div>
<div class="card mb-3 rounded shadow">
    <h4 class="card-header">IDENTIFICADOS</h4>
    <div class="card-body">
        <p id="aviso_identificados" style="color:red;font-size:10.5px" hidden>*Debe haber más de una persona identificada.</p>
        <div class="mb-3 row">
            <label for="hombres_identificados" class="col-sm-2 col-form-label">Hombres</label>
            <div class="col-sm-10" id="con_cant_pers">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="hombres_identificados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mujeres_identificadas" class="col-sm-2 col-form-label">Mujeres</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mujeres_identificadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="autos_identificados" class="col-sm-2 col-form-label">Autos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="autos_identificados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="motos_identificadas" class="col-sm-2 col-form-label">Motos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="motos_identificadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="armas_identificadas" class="col-sm-2 col-form-label">Armas</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="armas_identificadas" required>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 rounded shadow">
    <h4 class="card-header">CONSIGNADOS</h4>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="hombres_consignados" class="col-sm-2 col-form-label">Hombres</label>
            <div class="col-sm-10" id="con_cant_pers">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="hombres_consignados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mujeres_consignadas" class="col-sm-2 col-form-label">Mujeres</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mujeres_consignadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="autos_consignados" class="col-sm-2 col-form-label">Autos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="autos_consignados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="motos_consignadas" class="col-sm-2 col-form-label">Motos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="motos_consignadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="armas_consignadas" class="col-sm-2 col-form-label">Armas</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="armas_consignadas" required>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 rounded shadow">
    <h4 class="card-header">CONDUCIDOS</h4>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="hombres_conducidos" class="col-sm-2 col-form-label">Hombres</label>
            <div class="col-sm-10" id="con_cant_pers">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="hombres_conducidos" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mujeres_conducidas" class="col-sm-2 col-form-label">Mujeres</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mujeres_conducidas" required>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 rounded shadow">
    <h4 class="card-header">SOLVENTES</h4>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="hombres_solventes" class="col-sm-2 col-form-label">Hombres</label>
            <div class="col-sm-10" id="con_cant_pers">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="hombres_solventes" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mujeres_solventes" class="col-sm-2 col-form-label">Mujeres</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mujeres_solventes" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="autos_solventes" class="col-sm-2 col-form-label">Autos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="autos_solventes" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="motos_solventes" class="col-sm-2 col-form-label">Motos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="motos_solventes" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="armas_solventes" class="col-sm-2 col-form-label">Armas</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="armas_solventes" required>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 rounded shadow">
    <h4 class="card-header">RECUPERADOS</h4>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="hombres_recuperados" class="col-sm-2 col-form-label">Hombres</label>
            <div class="col-sm-10" id="con_cant_pers">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="hombres_recuperados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="mujeres_recuperadas" class="col-sm-2 col-form-label">Mujeres</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mujeres_recuperadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="menores_recuperados" class="col-sm-2 col-form-label">Menores</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="menores_recuperados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="autos_recuperados" class="col-sm-2 col-form-label">Autos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="autos_recuperados" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="motos_recuperadas" class="col-sm-2 col-form-label">Motos</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="motos_recuperadas" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="armas_recuperadas" class="col-sm-2 col-form-label">Armas</label>
            <div class="col-sm-10">
                <input type="number" value="0" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="armas_recuperadas" required>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" onclick="validation()" class="btn btn-outline-success col-sm-12 mb-3">Guardar</button>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-4"><a href="{% url 'respuestas_eje_view' %}" class="btn btn-outline-secondary">Regresar</a></div>
        <div class="col-md-4">
            <div class="card p-3 shadow mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/logo_pnc.png' %}" class="img-fluid rounded-start" alt="LOGO-PNC">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">No se puede ingresar</h5>
                      <p class="card-text">El horario de labor es de 1 a.m. hasta las 6 p.m.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-4"><a href="{% url 'respuestas_operativo_view' %}" class="btn btn-outline-secondary">Regresar</a></div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/logo_pnc.png' %}" class="img-fluid rounded-start" alt="LOGO-PNC">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Aun no puede ingresar</h5>
                      <p class="card-text">Se necesitan datos para poder utilizarlos al responder.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
        
</div>

{% endblock content %}


{% block script %}
{% load static %}
<script src="{% static 'js/respuesta/form.operativo.js' %}" ></script>
{% endblock script %}
    