{% extends 'base.html' %}

{% block title %}Informe | PNC - SGPD{% endblock title %}

{% block stylesheet  %}
{% load static %}
<link href="{% static 'highcharts-8.1.2/css/highcharts.css' %}" rel="stylesheet">
<link href="{% static 'css/informe.eje.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-2">
            <a href="{% url 'respuestas_eje_view' %}" class="btn btn-sm btn-outline-secondary">Regresar</a>
        </div>
        <!--
        <div class="col-sm-2">
            <a onclick="imprimir()" class="btn btn-sm btn-outline-secondary">Imprimir</a>
        </div>-->
    </div>
</div>
<div class="container mt-3" id="informe">
    <div class="row"><div class="col-sm-3">{% load static %}<img src="{% static 'img/logo_pnc.png' %}"></div><div class="col-sm-5"><h1>EJE DE PREVENCION</h1></div><div class="col-sm-4" style="float:right">{{respuesta.respondido}}</div></div><br>
    <div class="mb-3 row">
        <label for="lugar_asignado" class="col-sm-2 col-form-label">Delegación</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="lugar_asignado" value="{{respuesta.delegacion.delegacion}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_asignado" class="col-sm-2 col-form-label">Lugar Asignado</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="lugar_asignado" value="{{respuesta.asignado}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_especifico" class="col-sm-2 col-form-label">Lugar específico</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_especifico" value="{{respuesta.lugar_especifico}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="plan" class="col-sm-2 col-form-label">Plan/Orden</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="plan" value="{{respuesta.plan}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="eje" class="col-sm-2 col-form-label">Eje de Trabajo</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="eje" value="{{respuesta.eje}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="producto" class="col-sm-2 col-form-label">Productos</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="producto" value="{{respuesta.producto}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="subproducto" class="col-sm-2 col-form-label">Subroductos</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="subproducto" value="{{respuesta.subproducto}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="observaciones" rows="3" maxlength="450" disabled>{{respuesta.observaciones}}</textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_asignado" class="col-sm-2 col-form-label">Cantidad de Personas</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="lugar_asignado" value="{{respuesta.cantidad_personas}}" disabled>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-6" id="reportes">
            <div id="personas"></div>
        </div>
        <div class="col-sm-6" id="reportes">
            <div id="etnias"></div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
{% load static %}
<script src="{% static 'highcharts-8.1.2/highcharts.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/exporting.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/export-data.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/accessibility.js' %}"></script>
<script type="text/javascript">
    const imprimir=()=>{
        let informe=document.querySelector('#informe')
        print(informe)
    }
    /*Highcharts.chart('personas', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Personas'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
          point: {
            valueSuffix: ''
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
        series: [{
          name: 'Total',
          colorByPoint: true,
          data: [{
            name: 'Niños',
            y: {{respuesta.ninios|safe}},
            sliced: true,
            selected: true
          }, {
            name: 'Adolecentes Masculinos',
            y: {{respuesta.adolecentes_masculinos|safe}}
          }, {
            name: 'Adolecentes Femeninas',
            y: {{respuesta.adolecentes_femeninos|safe}}
          }, {
            name: 'Jovenes Masculinos',
            y: {{respuesta.jovenes_masculinos|safe}}
          }, {
            name: 'Jovenes Femeninas',
            y: {{respuesta.jovenes_femeninos|safe}}
          }, {
            name: 'Adultos Masculinos',
            y: {{respuesta.adultos_masculinos|safe}}
          }, {
            name: 'Adultos Femeninas',
            y: {{respuesta.adultos_femeninos|safe}}
          }, {
            name: 'Adultos Mayores Masculinos',
            y: {{respuesta.adultos_mayores_masculinos|safe}}
          }, {
            name: 'Adultos Mayores Femeninas',
            y: {{respuesta.adultos_mayores_femeninos|safe}}
          }]
        }]
    });*/
    /*
    Highcharts.chart('etnia', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Etnias'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
          point: {
            valueSuffix: ''
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
        series: [{
          name: 'Total',
          colorByPoint: true,
          data: [{
            name: 'Xincas',
            y: {{respuesta.xinca|safe}},
            sliced: true,
            selected: true
          }, {
            name: 'Garifunas',
            y: {{respuesta.garifuna|safe}}
          },  {
            name: 'Mayas',
            y: {{respuesta.maya|safe}}
          }, {
            name: 'Ladinos',
            y: {{respuesta.ladino|safe}}
          }]
        }]
      });*/
    Highcharts.chart('personas', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Categoria de Personas'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          type: 'category',
          labels: {
            rotation: -45,
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Registro No. {{respuesta.id|safe}}'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b> de {{respuesta.cantidad_personas|safe}}'
        },
        series: [{
          name: 'Categoria de Personas',
          data: [
            ['Niños', {{respuesta.ninios|safe}}],
            ['Niñas', {{respuesta.ninias|safe}}],//
            ['Adolecentes masculinos', {{respuesta.adolecentes_masculinos|safe}}],
            ['Adolecentes Femeninas', {{respuesta.adolecentes_femeninos|safe}}],
            ['Jovenes Masculinos', {{respuesta.jovenes_masculinos|safe}}],
            ['Jovenes Femeninas', {{respuesta.jovenes_femeninos|safe}}],
            ['Adultos Masculinos', {{respuesta.adultos_masculinos|safe}}],
            ['Adultos Femeninas', {{respuesta.adultos_femeninos|safe}}],
            ['Adultos Mayores Masculinos', {{respuesta.adultos_mayores_masculinos|safe}}],
            ['Adultos Mayores Femeninos', {{respuesta.adultos_mayores_femeninos|safe}}],
          ],
          dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        }]
      });
      Highcharts.chart('etnias', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Categoria de Etnias'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          type: 'category',
          labels: {
            rotation: -45,
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Registro No. {{respuesta.id|safe}}'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b> de {{respuesta.cantidad_personas|safe}}'
        },
        series: [{
          name: 'Categoria de Etnias',
          data: [
            ['Xincas', {{respuesta.xinca|safe}}],
            ['Mayas', {{respuesta.maya|safe}}],
            ['Garifunas', {{respuesta.garifuna|safe}}],
            ['Ladinos', {{respuesta.ladino|safe}}],
          ],
          dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        }]
      });
</script>
{% endblock script %}
    