{% extends 'base.html' %}

{% block title %}Informe | PNC - SGPD{% endblock title %}

{% block stylesheet  %}
{% load static %}
<link href="{% static 'highcharts-8.1.2/css/highcharts.css' %}" rel="stylesheet">
<link href="{% static 'css/informe.eje.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-2">
            <a href="{% url 'respuestas_eje_view' %}" class="btn btn-sm btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>
<div class="container mt-3" id="informe">
    <div class="row"><div class="col-sm-3">{% load static %}<img src="{% static 'img/logo_pnc.png' %}"></div><div class="col-sm-5"><center><h1>EJE DE PREVENCION</h1></center></div></div><br>
    {% if hay_dato %}
    <div class="mb-3 row">
      <label for="fecha" class="col-sm-2 col-form-label">Fecha de respuesta</label>
      <div class="col-sm-10">
          <input type="text" maxlength="350" class="form-control" id="fecha" value="{{respuesta.respondido}}" disabled>
      </div>
    </div>
    <div class="mb-3 row">
        <label for="delegacion" class="col-sm-2 col-form-label">Delegación</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="delegacion" value="{{respuesta.delegacion.nombre}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_priorizado" class="col-sm-2 col-form-label">Lugar priorizado</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="lugar_priorizado" value="{{respuesta.lugar_priorizado}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
      <label for="lugar_no_priorizado" class="col-sm-2 col-form-label">Lugar no priorizado</label>
      <div class="col-sm-10">
          <input type="text" maxlength="350" class="form-control" id="lugar_no_priorizado" value="{{respuesta.lugar_no_priorizado}}" disabled>
      </div>
  </div>
    <div class="mb-3 row">
        <label for="lugar_especifico" class="col-sm-2 col-form-label">Lugar específico</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_especifico" value="{{respuesta.lugar_especifico}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="plan" class="col-sm-2 col-form-label">Plan/Orden</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="plan" value="{{respuesta.plan}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="eje" class="col-sm-2 col-form-label">Eje de Trabajo</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="eje" value="{{respuesta.eje}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="producto" class="col-sm-2 col-form-label">Productos</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="producto" value="{{respuesta.producto}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="subproducto" class="col-sm-2 col-form-label">Subroductos</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="subproducto" value="{{respuesta.subproducto}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
      <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
      <div class="col-sm-10">
          <input type="text" maxlength="350" class="form-control" id="cantidad" value="{{respuesta.cantidad}}" disabled>
      </div>
  </div>
    <div class="mb-3 row">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="observaciones" rows="3" maxlength="450" disabled>{{respuesta.observaciones}}</textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="cantidad_personas" class="col-sm-2 col-form-label">Total Personas</label>
        <div class="col-sm-10">
            <input type="text" maxlength="350" class="form-control" id="cantidad_personas" value="{{respuesta.cantidad_personas}}" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="reportes">
            <div id="personas"></div>
        </div>
        <div class="col-sm-6" id="reportes">
            <div id="etnias"></div>
        </div>
    </div>
    {% else %}
    <center>
        <div class="card shadow p-3 mt-5 mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{% static 'img/logo_pnc.png' %}" class="img-fluid rounded-start" alt="LOGO-PNC">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ADVERTENCIA</h5>
                    <p class="card-text">El registro que intenta ver no existe o no pertenece a su usuario.</p>
                </div>
                </div>
            </div>
        </div>
    </center>
    {% endif %}
      
</div>

{% endblock content %}


{% block script %}
{% load static %}
<script src="{% static 'highcharts-8.1.2/highcharts.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/exporting.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/export-data.js' %}"></script>
<script src="{% static 'highcharts-8.1.2/modules/accessibility.js' %}"></script>
<script type="text/javascript">
    const imprimir=()=>{
        let informe=document.querySelector('#informe')
        print(informe)
    }
    
    Highcharts.chart('personas', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Categoria de Personas'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          type: 'category',
          labels: {
            rotation: -45,
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Registro No. {{respuesta.id|safe}}'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b> de {{respuesta.cantidad_personas|safe}}'
        },
        series: [{
          name: 'Categoria de Personas',
          data: [
            ['Niños', {{respuesta.ninios|safe}}],
            ['Niñas', {{respuesta.ninias|safe}}],//
            ['Adolecentes masculinos', {{respuesta.adolecentes_masculinos|safe}}],
            ['Adolecentes Femeninas', {{respuesta.adolecentes_femeninos|safe}}],
            ['Jovenes Masculinos', {{respuesta.jovenes_masculinos|safe}}],
            ['Jovenes Femeninas', {{respuesta.jovenes_femeninos|safe}}],
            ['Adultos Masculinos', {{respuesta.adultos_masculinos|safe}}],
            ['Adultos Femeninas', {{respuesta.adultos_femeninos|safe}}],
            ['Adultos Mayores Masculinos', {{respuesta.adultos_mayores_masculinos|safe}}],
            ['Adultos Mayores Femeninos', {{respuesta.adultos_mayores_femeninos|safe}}],
          ],
          dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        }]
      });
      Highcharts.chart('etnias', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Categoria de Etnias'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          type: 'category',
          labels: {
            rotation: -45,
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Registro No. {{respuesta.id|safe}}'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b> de {{respuesta.cantidad_personas|safe}}'
        },
        series: [{
          name: 'Categoria de Etnias',
          data: [
            ['Xincas', {{respuesta.xinca|safe}}],
            ['Mayas', {{respuesta.maya|safe}}],
            ['Garifunas', {{respuesta.garifuna|safe}}],
            ['Ladinos', {{respuesta.ladino|safe}}],
          ],
          dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
              fontSize: '13px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        }]
      });
</script>
{% endblock script %}
    