{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<div class="container pt-3">
    <a type="button" href="{% url 'reports_view' %}" class="btn btn-outline-secondary">
        <span class="material-symbols-outlined">
            monitoring
        </span>
        Reporte
    </a>
    <a type="button" href="{% url 'responder' id=formulario %}" class="btn btn-outline-primary">
        <span class="material-symbols-outlined">
            add
        </span>
        Nuevo registro
    </a>

    <table class="table mt-3">
        <thead class="table-dark ">
            <tr>
                <th>
                    Fecha de Respuesta
                </th>
                <th>
                    Respuesta
                </th>
                <th>
                    Ubicacion de Respuesta
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% if hay_respuestas %}
            {% for respuesta in respuestas %}
            <tr>
                <td>
                    {{respuesta.respondido}}
                </td>
                <td>
                    {{respuesta}}
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" href="https://www.google.com/maps/search/?api=1&query={{respuesta.latitud}},{{respuesta.longitud}}&zoom=20" target="_blank">Ver en google maps</a>
                </td>
                <td>
                    <a href="{% url 'detalles_view' fr=formulario id=respuesta.id %}">ver</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>
{% endblock content %}