{% extends 'base.html' %}

{% block title %}Respuestas Eje de Prevención | PNC - SGPD{% endblock title %}


{% block stylesheet %}
{% load static %}
<link href="{% static 'css/respuestas.css' %}" rel="stylesheet">
{% endblock stylesheet %}
    

{% block content %}
<div class="container-fluid pt-3" style="font-size:12px">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 style="width: 100%; marigin:auto" class="text-center">AREA OPERATIVA RESPUESTAS</h1>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <a type="button" href="{% url 'responder_operativo' %}" class="btn btn-sm btn-outline-primary">
                <span class="material-symbols-outlined">
                    add
                </span>
                Nuevo registro
            </a>
            <a type="button" onclick="grafic()" class="btn btn-sm btn-outline-info">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
                Graficas
            </a>
            {% if user.is_superuser %}
            <a type="button" onclick="report()" class="btn btn-sm btn-outline-danger">
                <span class="material-symbols-outlined">
                    picture_as_pdf
                </span>
                PDF
            </a>
            <a type="button" onclick="excel()" class="btn btn-sm btn-outline-success">
                <span class="material-symbols-outlined">
                    table
                </span>
                Excel
            </a>    
            {% endif %}
        </div>
        <form class="mt-3 mb-3" method="GET">
            <div class="row" id="filtros">
                {{filtro.form.as_p}}
            </div>
            <div>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    Buscar
                </button>
            </div>
        </form>
        <div class="col-sm-12 overflow-auto">
            <table id="respuestas" class="table mt-3">
                <thead class="table-dark ">
                    <tr>
                        <th>
                            Fecha de Respuesta
                        </th>
                        <th>
                            Delegación
                        </th>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Priorizado
                        </th>
                        <th>
                            Plan/Orden
                        </th>
                        <th>
                            Tipo de Operativo
                        </th>
                        <th>
                            Ubicación de Respuesta
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for respuesta in entity %}
                    <tr>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.respondido}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.delegacion}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.usuario.username}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.lugar_priorizado}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.plan}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            {{respuesta.operativo}}
                        </td>
                        <td style="width:5%" class="text-wrap">
                            <a class="btn btn-sm btn-outline-secondary" href="https://www.google.com/maps/search/?api=1&query={{respuesta.latitud}},{{respuesta.longitud}}&zoom=20" target="_blank">Ver en google maps</a>
                        </td>
                        <td style="width:5%" class="text-wrap">
                            <div class="row">
                                <div class="col-sm-3">
                                <a href="{% url 'respuesta_operativo_inf' id=respuesta.id %}" class="text-info" style="text-decoration:none">
                                    <span class="material-symbols-outlined">
                                        visibility
                                    </span>
                                </a>
                                </div>
                                {% if user.is_superuser %}
                                <div class="col-sm-3">
                                <a href="{% url 'actualizar_operativo' id=respuesta.id %}" class="text-warning" style="text-decoration:none">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                                </div>
                                
                                <div class="col-sm-3">
                                <a onclick="confirm_eliminar({{respuesta.id|safe}})" class="text-danger" style="text-decoration:none;cursor:pointer">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            {% include 'paginator_respuesta.html' %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript" >
    const decorator_filter=()=>{
        const inicio=document.getElementById('id_respondido_0')
        const fin=document.getElementById('id_respondido_1')
        const delegacion=document.getElementById('id_delegacion')
        const plan=document.getElementById('id_plan')
        const operativo=document.getElementById('id_operativo')
        
        inicio.type='date'
        fin.type='date'
        inicio.classList='form-control'
        fin.classList='form-control'
        delegacion.classList='form-control'
        plan.classList='form-control'
        operativo.classList='form-control'
        
        var filtros = document.querySelector('#filtros')
        var opciones = filtros.getElementsByTagName('p')
        for (let index = 0; index < opciones.length; index++) {
            opciones[index].classList='col-sm-3'
        }
    }
    decorator_filter()
    const excel=()=>{
        const inicio=document.getElementById('id_respondido_0').value
        const fin=document.getElementById('id_respondido_1').value
        const delegacion=document.getElementById('id_delegacion').value
        const plan=document.getElementById('id_plan').value
        const operativo=document.getElementById('id_operativo').value
        window.open(`/reporte/reportes/area_operativa/excel/?respondido_after=${inicio}&respondido_before=${fin}&plan=${plan}&operativo=${operativo}&delegacion=${delegacion}`,'_blank').focus()
    }
    const grafic=()=>{
        const inicio=document.getElementById('id_respondido_0').value
        const fin=document.getElementById('id_respondido_1').value
        const delegacion=document.getElementById('id_delegacion').value
        const plan=document.getElementById('id_plan').value
        const operativo=document.getElementById('id_operativo').value
        window.open(`/reporte/reportes/graficas/area_operativa/?respondido_after=${inicio}&respondido_before=${fin}&plan=${plan}&operativo=${operativo}&delegacion=${delegacion}`,'_blank').focus()
        
    }
    const report=()=>{
        const inicio=document.getElementById('id_respondido_0').value
        const fin=document.getElementById('id_respondido_1').value
        const delegacion=document.getElementById('id_delegacion').value
        const plan=document.getElementById('id_plan').value
        const operativo=document.getElementById('id_operativo').value
        window.open(`/reporte/reportes/area_operativa/pdf/?respondido_after=${inicio}&respondido_before=${fin}&plan=${plan}&operativo=${operativo}&delegacion=${delegacion}`,'_blank').focus()
        
    }
    const page=(pag)=>{
        const inicio=document.getElementById('id_respondido_0').value
        const fin=document.getElementById('id_respondido_1').value
        const delegacion=document.getElementById('id_delegacion').value
        const plan=document.getElementById('id_plan').value
        const operativo=document.getElementById('id_operativo').value
        location.href=`?page=${pag}&respondido_after=${inicio}&respondido_before=${fin}&plan=${plan}&operativo=${operativo}&delegacion=${delegacion}`
    }
</script>
<script src="{% static 'js/respuesta/delete.operativo.js' %}" ></script>
{% endblock script %}