{% extends 'base.html' %}

{% block title %}Respuestas Eje de Prevención | PNC - SGPD{% endblock title %}


{% block stylesheet %}
{% load static %}
<link href="{% static 'css/respuestas.css' %}" rel="stylesheet">
{% endblock stylesheet %}
    

{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 style="width: 100%; marigin:auto">AREA OPERATIVA RESPUESTAS</h1>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <a type="button" href="{% url 'responder_operativo' %}" class="btn btn-sm btn-outline-primary">
                <span class="material-symbols-outlined">
                    add
                </span>
                Nuevo registro
            </a>
            <!--
            <a type="button" href="" class="btn btn-sm btn-outline-secondary">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
                Reporte
            </a>-->
            <a type="button" href="" class="btn btn-sm btn-outline-secondary">
                <span class="material-symbols-outlined">
                    picture_as_pdf
                </span>
                Reporte
            </a>
        </div>
        <form class="row" method="GET">
            <div class="col-sm-4">
                    <label for="fecha_inicio" class="form-label">Fecha inicio</label>
                    {% if iniciob %}
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{inicio}}">
                    {% else %}
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
                    {% endif %}
            </div>
            <div class="col-sm-4">
                <label for="fecha_fin" class="form-label">Fecha fin</label>
                {% if finb %}
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{fin}}">
                {% else %}
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
                {% endif %}
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-sm btn-outline-primary">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    Buscar
                </button>
            </div>
        </form>
        <div class="col-sm-12">
            <table id="respuestas" class="table mt-3">
                <thead class="table-dark ">
                    <tr>
                        <th>
                            Fecha de Respuesta
                        </th>
                        <th>
                            Plan/Orden
                        </th>
                        <th>
                            Tipo de Operativo
                        </th>
                        <th>
                            Ubicación de Respuesta
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if hay_respuestas %}
                    {% for respuesta in entity %}
                    <tr>
                        <td>
                            {{respuesta.respondido}}
                        </td>
                        <td>
                            {{respuesta.plan}}
                        </td>
                        <td>
                            {{respuesta.operativo}}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary" href="https://www.google.com/maps/search/?api=1&query={{respuesta.latitud}},{{respuesta.longitud}}&zoom=20" target="_blank">Ver en google maps</a>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                <a href="{% url 'respuesta_operativo_inf' id=respuesta.id %}" class="text-info" style="text-decoration:none">
                                    <span class="material-symbols-outlined">
                                        visibility
                                    </span>
                                </a>
                                </div>
                                <div class="col-sm-3">
                                <a href="{% url 'actualizar_operativo' id=respuesta.id %}" class="text-warning" style="text-decoration:none">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                                </div>
                                <div class="col-sm-3">
                                <a onclick="confirm_eliminar({{respuesta.id|safe}})" class="text-danger" style="text-decoration:none;cursor:pointer">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table><br>
            {% include 'paginator_respuesta.html' %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript" >
    const page=(pag)=>{
        const inicio=document.getElementById('fecha_inicio').value
        const fin=document.getElementById('fecha_fin').value
        console.log(`?page=${pag}&fecha_inicio=${inicio}&fecha_fin=${fin}`)
        location.href=`?page=${pag}&fecha_inicio=${inicio}&fecha_fin=${fin}`
    }
</script>
<script src="{% static 'js/respuesta/delete.operativo.js' %}" ></script>
{% endblock script %}