{% extends 'base.html' %}

{% block title %}Actualizar Registro | PNC - SGPD{% endblock title %}
{% block content %}

<div class="container mt-3">
        
    <div class="row">
        
        <div class="col-sm-4">
            <div class="col-sm-2">
                <a href="{% url 'respuestas_eje_view' %}" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </div><div class="col-sm-4"><h1>EJE DE PREVENCION</h1></div><div class="col-sm-4"></div></div><br>
    <div class="mb-3 row">
        <input type="number" id="id-res" value="{{res.id}}" hidden>
        <label for="lugar_priorizado" class="col-sm-2 col-form-label">Lugar Priorizado</label>
        <div class="col-sm-10">
          <select class="form-control" id="lugar_priorizado" required>
            {% for lugar in lugares_priorizado %}
                {% if res.asignado.id == lugar.id %}
                    <option selected value="{{lugar.id}}">{{lugar.lugar}}</option>
                {% else %}
                    <option value="{{lugar.id}}">{{lugar.lugar}}</option>
                {% endif %}
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_no_priorizado" class="col-sm-2 col-form-label">Lugar No Priorizado</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_no_priorizado" value="{{res.lugar_no_priorizado}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lugar_especifico" class="col-sm-2 col-form-label">Lugar Específico</label>
        <div class="col-sm-10" id="cont_lug_espe">
            <input type="text" maxlength="350" class="form-control" id="lugar_especifico" value="{{res.lugar_especifico}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="plan" class="col-sm-2 col-form-label">Plan/Orden</label>
        <div class="col-sm-10">
          <select class="form-control" id="plan" required>
            {% for plan in planes %}
                
                {% if res.plan.id == plan.id %}
                <option selected value="{{plan.id}}">{{plan.nombre}}</option>
                {% else %}
                <option value="{{plan.id}}">{{plan.nombre}}</option>
                {% endif %}
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="eje" class="col-sm-2 col-form-label">Eje de Trabajo</label>
        <div class="col-sm-10">
          <select class="form-control" id="eje" required>
            {% for eje in ejes %}
                {% if res.eje.id == eje.id %}
                    <option selected value="{{eje.id}}">{{eje.nombre}}</option>
                {% else %}
                    <option value="{{eje.id}}">{{eje.nombre}}</option>
                {% endif %}
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="producto" class="col-sm-2 col-form-label">Productos</label>
        <div class="col-sm-10">
          <select class="form-control" id="producto" required>
            {% for producto in productos %}
                {% if res.producto.id == producto.id %}
                    <option selected value="{{producto.id}}">{{producto.nombre}}</option>
                {% else %}
                    <option value="{{producto.id}}">{{producto.nombre}}</option>
                {% endif %}    
            {% endfor %} 
          </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="subproducto" class="col-sm-2 col-form-label">Subroductos</label>
        <div class="col-sm-10">
          <select class="form-control" id="subproducto" required></select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
        <div class="col-sm-10">
            <input type="number" value="{{res.cantidad}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="cantidad" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="observaciones" rows="3" maxlength="450">{{res.observaciones}}</textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3 rounded shadow">
                <h4 class="card-header">CATEGORIA DE PERSONAS</h4>
                <div class="card-body">
                    
                    <div class="mb-3 row">
                        <label for="ninios" class="col-sm-5 col-form-label">Niños</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.ninios}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ninios" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ninias" class="col-sm-5 col-form-label">Niñas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.ninias}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ninias" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adolecentes_masculinos" class="col-sm-5 col-form-label">Adolecentes masculinos</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adolecentes_masculinos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adolecentes_masculinos" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adolecentes_femeninas" class="col-sm-5 col-form-label">Adolecentes femeninas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adolecentes_femeninos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adolecentes_femeninas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="jovenes_masculinos" class="col-sm-5 col-form-label">Jovenes masculinos</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.jovenes_masculinos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="jovenes_masculinos" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="jovenes_femeninas" class="col-sm-5 col-form-label">Jovenes femeninas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.jovenes_femeninos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="jovenes_femeninas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adultos" class="col-sm-5 col-form-label">Adultos</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adultos_masculinos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultos" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adultas" class="col-sm-5 col-form-label">Adultas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adultos_femeninos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adultos_mayores" class="col-sm-5 col-form-label">Adultos mayores</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adultos_mayores_masculinos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultos_mayores" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="adultas_mayores" class="col-sm-5 col-form-label">Adultas mayores</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.adultos_mayores_femeninos}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="adultas_mayores" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3 rounded shadow">
                <h4 class="card-header">ETNIAS</h4>
                <div class="card-body">
                    
                    <div class="mb-3 row">
                        <label for="xincas" class="col-sm-5 col-form-label">Xincas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.xinca}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="xincas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="garifunas" class="col-sm-5 col-form-label">Garifunas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.garifuna}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="garifunas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="mayas" class="col-sm-5 col-form-label">Mayas</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.maya}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="mayas" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ladinos" class="col-sm-5 col-form-label">Ladinos</label>
                        <div class="col-sm-5">
                            <input type="number" value="{{res.ladino}}" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" class="form-control" id="ladinos" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" onclick="validate()" class="btn btn-outline-success col-sm-12 mb-3">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
{% load static %}
<script src="{% static 'js/respuesta/update.eje.js' %}" ></script>
<script>list_sub({{res.subproducto.id|safe}})</script>
{% endblock script %}
    