{% extends 'base.html' %}
{% block stylesheet  %}
{% load static %}
<link href="{% static 'highcharts-8.1.2/css/highcharts.css' %}" rel="stylesheet">
<link href="{% static 'css/reporte_meta.main.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="container-fluid pt-3">
        <div class="row">

            <div class="col-sm-4 mt-3">
                <select class="form-select" id="filtro">
                    <option value="0">Elige un año</option>
                </select>
            </div>
            <div class="col-sm-4 mt-3">
                <button type="button" id="btn-filtro" onclick="buscar()" class="btn btn-sm btn-outline-primary">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    Buscar
                </button>
            </div>
            <div class="col-sm-12" id="reportes"></div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% load static %}
    <script src="{% static 'highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'highcharts-8.1.2/modules/accessibility.js' %}"></script>
    <script src="{% static 'js/reporte/reporte.meta.js' %}"></script>
{% endblock script %}
    
