{% extends 'base.html' %}
{% block stylesheet  %}
{% load static %}
<link href="{% static 'css/municipios.chiquimula.lugar.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="container pt-3">
        <div class="row">
            <div class="col-sm-6">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% load static %}
<script src="{% static 'js/reporte/reporte.main.js' %}"></script>

{% endblock script %}
    
    