{% load static %}
<!DOCTYPE html>
<html lang="es-gt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title class="title-up">PDF EJE | PNC - SGPD</title>
    <style>
        @page {
            size: letter landscape;
            margin: 2cm;
        }
        
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'img/logo_pnc.png' %}" class="" alt="logo" style="width: 1cm;">
        </div>
        <div class="col-md-10">
            <h2 class="text-center">EJE DE PREVENCION INFORME</h2>
        </div>
    </div>
    <table id="respuestas" class="table mt-3" style="font-size:10px">
        <thead class="table-primary">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Delegacion
                </th>
                <th>
                    Priorizado
                </th>
                <th>
                    Especifico
                </th>
                <th>
                    Plan/Orden
                </th>
                <th>
                    Eje de Trabajo
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Subproducto
                </th>
                <th>
                    Observaciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% if hay_respuestas %}
            {% for respuesta in entity %}
            <tr>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.respondido}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.delegacion}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.asignado}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.lugar_especifico}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.plan}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.eje}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.producto}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.subproducto}}
                </td>
                <td style="width:5%" class="text-wrap">
                    {{respuesta.observaciones}}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table><br>
</body>