/* MUNICIPIOS CHIQUIMULA */

#SanJoseLaArada{
    fill: #fe5afb;
}

#SanJoseLaArada:hover {
    fill: #993197;
}

#Esquipulas{
    fill: #fbc370;
}

#Esquipulas:hover {
    fill: #eccea1;
}