{% extends 'base.html' %}

{% block title %} Formularios de Operación | PNC - SGPD {% endblock title %}

{% block content %}
{% if hay_formulario %}
<div class="container pt-3">
  <div class="row">
  {% for formulario in formularios %}

    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{formulario.titulo}}</h5>
          <p class="card-text">{{formulario.descripcion}}</p>
          <a href="{% url 'respuestas' id=formulario.id %}" class="btn btn-primary">Ir a Formulario</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>
</div>
{% endif %}
{% endblock content %}